/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #e6e6e6;
}
.bg-black {
  background-color: #000000;
}
#Alphabet-Div {
    text-align:justify;
    text-justify:auto;
}

#Alphabet-Div > a {
  margin-right: 33px;
}
